<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(title='login',main=~{::main})}">

<body>
<main class="container">
    <section>
        <article>
            <!-- 로그인 폼 -->
            <form class="border-1 rounded mx-auto shadow col-xl-7 col-lg-8 col-md-10 col-sm-12 p-5 mt-5"
                  th:action="@{/login}" th:method="POST">
                <h3 class="text-center">Magic Conch Login</h3>
                <hr>
                <!-- 아이디 입력 -->
                <div class="mb-3">
                    <label for="username"><i class="fas fa-user"></i> LOGIN ID</label>
                    <input class="form-control" id="username" type="text" name="username"
                           th:attr="value=${id}"
                           th:classappend="${id} ? 'is-invalid'">

                </div>
                <!-- 아이디 입력 -->

                <!-- 암호 입력 -->
                <div class="mb-3">
                    <label for="password"><i class="fas fa-key"></i> LOGIN PASSWORD</label>
                    <input id="password" class="form-control" type="password" name="password"
                           th:classappend="${id} ? 'is-invalid'">
                </div>
                <!-- 암호 입력 -->

                <!-- 로그인 실패 시 메시지 -->
                <div class="text-warning" th:text="${message}"></div>
                <!-- 로그인 실패 시 메시지 -->

                <!-- 로그인 버튼 -->
                <input id="btnLogin" class="btn btn-primary btn-block" type="submit" value="LOGIN">
                <!-- 로그인 버튼 -->

                <!-- 회원가입 페이지 링크 -->
                <a class="btn btn-info btn-block" th:href="@{/joinForm}">JOIN</a>
                <!-- 회원가입 페이지 링크 -->
            </form>
            <!-- 로그인 폼 -->
        </article>
    </section>
</main>
</body>
</html>