<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/base :: base">
    <title>질문 작성 페이지</title>
</head>
<body>
<nav th:replace="layout/nav :: nav"></nav>

<form class="d-flex flex-column mb-3 container col-md-6 animation fade-in">

    <p class="fs-1 text-center">질문 작성</p>

    <hr>

    <div class="form-outline mb-4">
        <input type="text" id="form1" class="form-control" />
        <label class="form-label" for="form1">제목 입력</label>
    </div>

    <div class="d-flex flex-row mb-3">
        <div class="input-group mb-3 me-4">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="태그 선택" />
            <button
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
            >
                Dropdown
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="저장소 선택" />
            <button
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
            >
                Dropdown
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
    </div>



    <div class="form-outline">
        <textarea class="form-control" id="textAreaExample" rows="16"></textarea>
        <label class="form-label" for="textAreaExample">내용 입력</label>
    </div>

    <div class="d-flex flex-row mb-3 justify-content-center mt-4">
        <button
                type="button"
                class="btn btn-outline-primary btn-rounded me-3"
                data-mdb-ripple-color="dark"
        >
            제출
        </button>

        <button
                type="button"
                class="btn btn-outline-danger btn-rounded"
                data-mdb-ripple-color="dark"
        >
            취소
        </button>
    </div>

</form>


</div>
</body>
</html>
