<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(title='팔로우 질문보기',css=~{::#css},main=~{::main}, js=~{::#customJS})">
<head>
    <th:block id="css">
        <style>
            .page-item-no:active {
                color: yellow;
            }
        </style>
        <link rel="stylesheet" th:href="@{/css/global.css}" }>
    </th:block>
</head>
<body>
<main class="container col-md-10">

    <!--  질문 목록 제목  -->

    <div class="text-center">
        <a
                class="fs-1 text-center mb-5 title"
                th:text="'질문 목록(' + ${questionList.totalCnt} + ')'"
                onclick="location.href='/question/follow/list'"
        ></a>
    </div>

    <!--  질문 검색  -->

    <div class="d-flex flex-row mb-3">
        <h4>Tag</h4>
        <i
                class="fas fa-caret-down ps-2 tagOn"
                style="display: none; font-size: 30px"
                onclick="tagDrop('on')"
        ></i>
        <i
                class="fas fa-caret-right ps-2 tagOff"
                style="font-size: 30px"
                onclick="tagDrop('off')"
        ></i>
    </div>

    <form
            class="d-flex justify-content-between form-data"
            action="/question/list"
            method="get"
    >
        <div class="d-flex flex-row align-items-center">
            <button
                    class="me-4 tag"
                    style="text-shadow: 1px 1px 10px #eb0000; display: none"
                    onclick="selectTagName(event, 'All')"
            >
                All
            </button>
            <button
                    class="me-4 tag"
                    th:each="tag : ${tagList}"
                    th:text="${tag.name}"
                    th:style="'text-shadow: 1px 1px 10px ' + ${tag.color} + '; display: none;'"
                    th:onclick="selectTagName(event, [[${tag.name}]])"
            ></button>
            <input hidden type="text" id="tagList"/>
        </div>

        <div class="d-flex flex-row mb-3">
            <div class="dropdown me-3">
                <button
                        class="btn btn-primary dropdown-toggle searchDrop"
                        type="button"
                        id="dropdownMenuButton"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                >
                    title
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a
                                class="dropdown-item"
                                href="#"
                                onclick="selectSearchFilter('title')"
                        >제목</a
                        >
                    </li>
                    <li>
                        <a
                                class="dropdown-item"
                                href="#"
                                onclick="selectSearchFilter('username')"
                        >작성자</a
                        >
                    </li>
                </ul>
            </div>

            <div class="form-outline">
                <input
                        type="text"
                        name="title"
                        id="form1"
                        class="form-control searchInput"
                />
                <label class="form-label" for="form1"></label>
            </div>

            <button
                    type="submit"
                    class="btn btn-primary btn-sm ms-3 search"
                    onclick="search(event)"
            >
                검색
            </button>
        </div>
    </form>

    <hr/>

    <!--  질문 목록 리스트  -->
    <table class="table animation fade-in shadow" style="border-radius: 10px">
        <thead class="table-primary">
        <tr>
            <th>No</th>
            <th style="text-align: center">상태</th>
            <th>태그</th>
            <th style="text-align: center; width: 40%">제목</th>
            <th style="text-align: center">작성자</th>
            <th style="text-align: center">작성시간</th>
            <th style="text-align: center">조회수</th>
        </tr>
        </thead>
        <tbody class="list-wrapper">
        <tr th:each="item, idx : ${questionList.dtoList}" th:onclick="'selectQuestion(' + ${item.questionId} + ')'" class="hover-shadow" th:style="${item.status == 'END' ? 'background-color: #efefef;' : ''}">
            <td
                    th:text="${questionList.totalCnt - ((questionList.curPage - 1) * 10) - idx.index}"
            ></td>
            <td style="text-align: center"><div th:replace="fragments/components :: questionStatus(${item.status})"></div></td>
            <td
                    th:text="${item.tagName}"
                    th:style="'text-shadow: 1px 1px 10px ' + ${item.tagColor} + '; text-align: center'"
            ></td>
            <td><span th:text="${item.title}"></span><span th:text="' [' + ${item.answerCnt} + ']'" style="color: red"></span></td>
            <td style="text-align: center" th:text="${item.username}"></td>
            <td style="text-align: center" th:text="${item.createTime}"></td>
            <td style="text-align: center" th:text="${item.view}"></td>
        </tr>
        </tbody>
    </table>

    <!--  페이징  -->
    <div class="d-flex justify-content-center pt-3">
        <ul class="pagination">
            <li class="page-item">
                <a
                        class="page-link previous"
                        href="#"
                        th:onclick="'previous(' + ${questionList.previous} + ',' + ${questionList.startPage} + ')'"
                >
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">목록에서 이전 페이지로 이동</span>
                </a>
            </li>
            <div class="d-flex pageNo">
                <li
                        class="page-item page-item-no"
                        th:each="idx : ${#numbers.sequence(questionList.getStartPage(), questionList.getEndPage())}"
                >
                    <a
                            class="page-link"
                            th:text="${idx}"
                            th:onclick="'selectPageNo(' + ${idx} + ')'"
                    ></a>
                </li>
            </div>

            <li class="page-item">
                <a
                        class="page-link next"
                        href="#"
                        th:onclick="'next(' + ${questionList.next} + ',' + ${questionList.startPage} + ')'"
                >
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">목록에서 다음 페이지로 이동</span>
                </a>
            </li>
        </ul>
    </div>
</main>
<th:block id="customJS">
    <script th:src="@{/js/question/questionFollowList.js}"></script>
</th:block>
</body>
</html>
