<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/base :: base">
    <title>Title</title>
</head>
<script defer th:src="@{/js/question/questionList.js}"></script>
<body>
<nav th:replace="layout/nav :: nav"></nav>

<style>
    .page-item-no:active {
        color: yellow;
    }

</style>

<div class="container col-md-10">
    <!--  질문 목록 제목  -->
    <p class="fs-1 text-center mb-5" th:text="'질문 목록(' + ${list.totalCnt} + ')'"></p>

    <hr>
    <!--  질문 목록 리스트  -->
    <table class="table animation fade-in shadow" style="border-radius: 10px">
        <thead class="table-primary">
            <tr>
                <th style="text-align: center" >No</th>
                <th style="text-align: center" >태그</th>
                <th style="text-align: center" >제목</th>
                <th style="text-align: center" >작성자</th>
                <th style="text-align: center" >작성시간</th>
                <th style="text-align: center" >조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item, idx : ${list.dtoList}">
                <td style="text-align: center"  th:text="${list.totalCnt - ((list.curPage - 1) * 10) - idx.index}"></td>
                <td th:text="${item.tagName}" th:style="'text-shadow: 1px 1px 10px ' + ${item.tagColor} + '; text-align: center'"></td>
                <td style="text-align: center"  th:text="${item.title}"></td>
                <td style="text-align: center"  th:text="${item.username}"></td>
                <td style="text-align: center"  th:text="${item.createTime}"></td>
                <td style="text-align: center"  th:text="${item.view}"></td>
            </tr>
        </tbody>
    </table>
    <!--  페이징  -->
    <div class="d-flex justify-content-center pt-3">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" th:onclick="'previous(' + ${list.previous} + ',' + ${list.startPage} + ')'">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">목록에서 이전 페이지로 이동</span>
                </a>
            </li>

            <li class="page-item page-item-no" th:each="idx : ${#numbers.sequence(list.getStartPage(), list.getEndPage())}">
                <a class="page-link" th:href="@{/question/list(page=${idx})}" th:text="${idx}"></a>
            </li>

            <li class="page-item">
                <a class="page-link" href="#" th:onclick="'next(' + ${list.next} + ',' + ${list.startPage} + ')'">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">목록에서 다음 페이지로 이동</span>
                </a>
            </li>
        </ul>
    </div>

</div>
</body>
</html>
