<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(title='질문 작성 페이지', css=~{::#css},main=~{::main},js=~{::#customJS})">
<head>

    <th:block id="css">
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    </th:block>

</head>
<body>
<main>
    <div class="d-flex flex-column mb-3 container col-md-9 animation fade-in">

        <p class="fs-1 text-center">질문 작성</p>

        <hr>

        <!--  제목  -->
        <div class="form-outline mb-4">
            <input type="text" id="title" th:name="title" class="form-control"/>
            <label class="form-label" for="title">제목 입력</label>
        </div>

        <div class="d-flex flex-row mb-3">
            <div class="input-group mb-3 me-4">
                <!--  태그선택  -->
                <input readonly th:name="tagName" type="text" style="background-color: white" class="form-control"
                       id="tagTxt" aria-label="Text input with dropdown button" placeholder="태그 선택"/>
                <button class="btn btn-primary dropdown-toggle"
                        id="tagDrop"
                        type="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false">
                    Dropdown
                </button>
                <ul class="dropdown-menu dropdown-menu-end" id="tagBtn">
                    <li><a class="dropdown-item" href="#" onclick="selectTag('C')">C</a></li>
                    <li><a class="dropdown-item" href="#" onclick="selectTag('C++')">C++</a></li>
                    <li><a class="dropdown-item" href="#" onclick="selectTag('JAVA')">JAVA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="selectTag('PYTHON')">PYTHON</a></li>
                    <li><a class="dropdown-item" href="#" onclick="selectTag('SPRING')">SPRING</a></li>
                    <li><a class="dropdown-item" href="#" onclick="selectTag('JPA')">JPA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="selectTag('DEFAULT')">DEFAULT</a></li>
                </ul>
            </div>

            <div class="input-group mb-3 bundleDrop">
                <!--  번들선택  -->
                <input readonly type="text" style="background-color: white;" class="form-control" id="bundleTxt"
                       aria-label="Text input with dropdown button" placeholder="번들 선택"/>
                <input readonly hidden th:name="bundleId" type="text" style="background-color: white;"
                       class="form-control"
                       id="bundleTxtHdn" aria-label="Text input with dropdown button" placeholder="번들 선택" value="-1"/>
                <button
                        class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false">
                    Dropdown
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#" onclick="enableBundle('Default', 'DEFAULT', -1)">Default</a>
                    </li>
                    <li th:each="bundle : ${bundleList}">
                        <a th:text="${bundle.bundleName}"
                           th:onclick="disableBundle([[${bundle.bundleName}]], [[${bundle.tagName}]], [[${bundle.bundleId}]])"
                           class="dropdown-item" href="#"></a></li>
                </ul>
            </div>
        </div>

        <div class="form-outline">
            <!--  내용  -->
            <textarea name="content" id="summernote" class="summernote" th:name="content"></textarea>

        </div>

        <div class="d-flex flex-row mb-3 justify-content-center mt-4">
            <button
                    class="btn btn-outline-primary btn-rounded me-3"
                    data-mdb-ripple-color="dark"
                    onclick="clickCreateQuestionBtn()">
                제출
            </button>

            <a th:href="@{/}"
               type="button"
               class="btn btn-outline-danger btn-rounded"
               data-mdb-ripple-color="dark">
                취소
            </a>
        </div>
    </div>
</main>
<th:block id="customJS">
    <script th:src="@{/js/question/question.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 500, minHeight: null, maxHeight: null, lang: 'ko-KR'
            });
        });
    </script>
</th:block>

</div>
</body>
</html>
