<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout/base :: base('질문보기')">
    <title>Title</title>
  </head>
  <body>
    <nav th:replace="layout/nav :: nav"></nav>
    <div class="container col-md-6 shadow" style="border-radius: 10px">
      <h2 class="pt-4 mb-4">제목입니다.</h2>
      <div class="d-flex flex-row mb-3">
        <i class="fas fa-user-circle p-2" style="font-size: 35px"></i>
        <div class="p-2">
          <h6 style="font-size: small">하주현</h6>
          <h6 style="font-size: small">2021.01.19 22:44</h6>
        </div>
        <div class="ms-auto p-2">
          <h6
            style="font-size: small; text-shadow: 1px 1px 10px #a316fd"
            class="text-end"
          >
            Spring
          </h6>
          <h6 style="font-size: small" class="text-end">스프링 Bundle</h6>
        </div>
      </div>
      <hr />
      <pre
        style="white-space: pre-wrap; margin: 0px"
      >1 동해 물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세.
2
남산 위에 저 소나무, 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세.
3
가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세.
4
이 기상과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세. 무궁화 삼천리 화려 강산 대한 사람, 대한으로 길이 보전하세.
        <code>
public static void main(String[] args){
  System.out.println("Hello World!");
}
        </code>
    </pre>
      <div class="d-flex justify-content-between" style="padding: 10px 5px">
        <i class="far fa-heart" style="color: red"></i>
        <i class="fas fa-eye"> 15</i>
      </div>
    </div>
    <div class="container col-md-6 shadow mt-4" style="border-radius: 10px">
      답변
    </div>
    <div class="container col-md-6 shadow mt-4" style="border-radius: 10px">
      답변
    </div>
    <div class="container col-md-6 shadow mt-4" style="border-radius: 10px">
      답변
    </div>
  </body>
</html>
