<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="layout/base :: base"></div>
    <title>질문보기</title>
    <script defer th:src="@{/js/question/questionDetail.js}"></script>
    <style>
        .btn:hover {
            background: blue;
            color: white;
        }
    </style>
</head>
<body>
<nav th:replace="layout/nav :: nav"></nav>
<div class="container col-md-6 shadow" style="border-radius: 10px">
    <h2 th:text="${question.title}" class="pt-4 mb-4">제목</h2>
    <div class="d-flex flex-row mb-3">
        <i class="fas fa-user-circle p-2" style="font-size: 35px"></i>
        <div class="p-2">
            <h6 th:text="${question.username}" style="font-size: small">
                사용자이름
            </h6>
            <h6 th:text="${question.createTime}" style="font-size: small">
                생성일
            </h6>
        </div>
        <div class="ms-auto p-2">
            <h6
                    th:text="${question.tagName}"
                    th:style="'font-size: small; text-shadow: 1px 1px 10px ' + ${question.tagColor}"
                    class="text-end"
            >
                Tag
            </h6>
            <h6
                    th:text="${question.bundleName}"
                    style="font-size: small"
                    class="text-end"
            >
                Bundle
            </h6>
        </div>
    </div>
    <hr/>
    <div th:utext="${question.content}" style="word-break: break-all"></div>
    <div class="d-flex justify-content-between" style="padding: 10px 5px">
        <i
                class="fas fa-heart"
                id="like"
                style="color: red; display: none"
                onclick="clickLike('like')"
        ></i>
        <i
                class="far fa-heart"
                id="no-like"
                style="color: #ff0000"
                onclick="clickLike('noLike')"
        ></i>
        <i
                th:text="${question.view}"
                class="fas fa-eye"
                style="letter-spacing: 0.4em"
        >0</i
        >
    </div>
</div>

<div class="container col-md-6 mt-2 text-end">
    <button type="button" class="btn btn-outline-primary" onclick="location.href='/question'">추가</button>
    <button type="button" class="btn btn-outline-primary" onclick="clickUpdate()">수정</button>
    <button type="button" class="btn btn-outline-primary" data-mdb-toggle="modal" data-mdb-target="#deleteModal">삭제</button>
</div>

<!-- Modal -->
<div class="modal top fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">정말로 삭제하시겠습니까?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="clickDelete()">삭제</button>
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                    취소
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container col-md-6 shadow mt-4" style="border-radius: 10px">
    답변
</div>
<div class="container col-md-6 shadow mt-4" style="border-radius: 10px">
    답변
</div>
<div class="container col-md-6 shadow mt-4" style="border-radius: 10px">
    답변
</div>
</body>
</html>
