<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(title='질문보기', head=~{::head}, main=~{::main}, js=~{::#customJS})">
<head>

    <style>
        .cus-btn:hover {
            background: blue;
            color: white;
        }
        .cus-btn.active {
            background: blue;
            color: white;
        }
        .answer-wrapper {
            display: none;
        }
        .answer-wrapper.active {
            display: block;
        }
    </style>
</head>
<body>
<main class="container col-md-6 shadow" style="border-radius: 10px">
    <!-- 질문 제목 -->
    <h2 th:text="${question.title}" class="pt-4 mb-4">제목</h2>

    <div class="d-flex flex-row mb-3 align-items-center">
        <a th:href="'/user/overview?username=' + ${question.username}">
            <img th:src="${question.profileImg}"
                 class="rounded-circle"
                 height="35px"
                 width="35px">
        </a>
        <!-- 프로필 사진, 사용자 이름 -->
        <div class="p-2">
            <h6 th:text="${question.username}" style="font-size: small">
                사용자이름
            </h6>
            <h6 th:text="${question.createTime}" style="font-size: small">
                생성일
            </h6>
        </div>
        <!-- 태그 이름, 번들 이름 -->
        <div class="ms-auto p-2">
            <div class="d-flex p-2 justify-content-center">
                <img th:src="${question.tagImg}"
                     style="height: 18px; width: 18px; margin-right: 7px"
                     alt="">
                <h6
                        th:text="${question.tagName}"
                        th:style="'font-size: small; text-shadow: 1px 1px 10px ' + ${question.tagColor}"
                        class="text-end"
                >
                    Tag
                </h6>
            </div>
            <a th:href="'/bundle?bundleId=' + ${question.bundleId}">
                <h6
                        th:text="${question.bundleName}"
                        style="font-size: small"
                        class="text-end"
                >
                    Bundle
                </h6>
            </a>
        </div>
    </div>
    <hr/>
    <!-- 질문 내용 -->
    <div th:utext="${question.content}" style="word-break: break-all; margin-bottom: 20px"></div>
    <div class="d-flex justify-content-between" style="padding: 10px 5px">
        <div id="isQuestionLike" hidden th:text="${questionLike}"></div>
        <i
                class="fas fa-heart"
                id="like"
                style="color: red; display: none"
                th:onclick="'clickLike(\'like\', ' + ${question.questionId} + ')'"
        ></i>
        <i
                class="far fa-heart"
                id="no-like"
                style="color: #ff0000"
                th:onclick="'clickLike(\'noLike\', ' + ${question.questionId} + ')'"
        ></i>
        <i
                th:text="${question.view}"
                class="fas fa-eye"
                style="letter-spacing: 0.4em"
        >0</i
        >
    </div>

    <!-- 질문 추가, 수정, 삭제 버튼, 댓글 내리기 버튼 -->
    <div class="mt-2 pb-2 text-end">
        <button type="button" class="btn btn-outline-primary" onclick="location.href='/question'">추가</button>
        <button th:if="${#authentication.name == question.username}" type="button" class="cus-btn btn btn-outline-primary" onclick="clickUpdate()">수정</button>
        <button th:if="${#authentication.name == question.username}" type="button" class="cus-btn btn btn-outline-primary" data-mdb-toggle="modal" data-mdb-target="#deleteModal">삭제</button>
        <button type="button" class="cus-btn answerBtn btn btn-outline-primary" onclick="clickAnswer()" th:text="'댓글 보기('+ ${answer.size()} + ')'" th:value="${answer.size()}">댓글 보기</button>
    </div>

    <!-- 답변 -->
    <div class="answer-wrapper">
        <!-- 답변 보기 -->
        <div th:each="item : ${answer}" th:id="${item.answerId}">
            <hr>
            <div class="d-flex align-items-center" th:id="${item.answerId} + '_inner'" th:value="${item.username}" th:style="${item.adopted ? 'border: 1px solid #BBDEFB; border-radius: 10px; padding: 10px' : 'padding: 10px'}">
                <!-- 프로필 -->
                <div class="d-flex flex-column ps-2">
                    <a th:href="'/user/overview?username=' + ${item.username}">
                    <img th:src="${item.profileImg}"
                         class="rounded-circle"
                         height="35px"
                         width="35px">
                    <div class="text-center" style="font-size: 20px" th:text="${item.username}"></div>
                    </a>
                </div>
                <!-- 내용 -->
                <div class="d-flex flex-column">
                    <div class="ps-3" style="word-break:break-all" th:utext="${item.content}"></div>
                    <div class="ps-3" style="font-size: 10px" th:text="${item.createTime}"></div>
                </div>
                <!-- 신고, 수정, 삭제 토글 -->
                <div class="btn-group shadow-0 ms-auto" th:id="${item.answerId} + '_dropBtn'">
                    <i th:if="${item.adopted == true}" class="fas fa-thumbs-up fa-2x" style="color: dodgerblue; padding: 10px 24px"></i>
                    <button
                            th:if="${item.adopted == false}"
                            type="button"
                            class="btn btn-link dropdown-toggle"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                            style="color: lightgray"
                    >
                        <i class="fas fa-ellipsis-v"></i>
                    </button>

                    <ul class="dropdown-menu">
                        <li th:if="${#authentication.name == question.username}"><a class="dropdown-item" th:onclick="'clickAdoptAnswer(' + ${question.questionId} + ',' + ${item.answerId} + ')'">채택하기</a></li>
                        <li th:if="${#authentication.name != item.username}"><a class="dropdown-item">신고</a></li>
                        <li th:if="${#authentication.name == item.username}"><a class="dropdown-item" th:onclick="'clickUpdateAnswer(' + ${item.answerId} + ')'">수정</a></li>
                        <li th:if="${#authentication.name == item.username}"><a class="dropdown-item" th:onclick="'clickDeleteAnswer(' + ${item.answerId} + ')'">삭제</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 답변 쓰기 -->
    <div class="text-end mt-4">
        <div class="form-outline">
            <div style="display: none" id="question", th:text="${question.questionId}"></div>
            <div style="display: none" id="user", th:text="${#authentication.name}"></div>
            <textarea class="form-control" id="answerContent" rows="4" name="content"></textarea>
            <label class="form-label" for="answerContent">답변 내용</label>
        </div>
        <button type="button" class="mt-2 mb-2 btn btn-outline-primary" onclick="clickAnswerBtn()">작성</button>
    </div>
    <!-- Modal -->
    <div class="modal top fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">정말로 삭제하시겠습니까?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        취소
                    </button>
                    <button type="button" class="btn btn-primary" onclick="clickDelete()">삭제</button>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="customJS">
    <script defer th:src="@{/js/question/questionDetail.js}"></script>
</th:block>
</body>
</html>
