<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout('create bundle', ~{}, ~{::main}, ~{}, ~{})">
<body>


<main class="container">
    <article class="mx-auto mt-5 col-lg-6 col-md-7 col-sm-9 col-11 card p-5">
        <section>
            <form th:action="@{/bundle}"
                  th:method="post"
                  th:object="${bundleForm}">
                <div class="card-body">
                    <h4 class="card-title">신규 번들 생성</h4>
                    <h6 class="card-subtitle mb-2 text-muted">
                        번들 : 여러 질문을 종류별로 모으고 정리할 수 있는 저장소입니다.
                    </h6>
                    <hr/>
                    <p class="text-muted">새로 생성될 질문 저장소(번들)의 이름이 됩니다.</p>
                    <div class="form-outline mb-5 shadow">
                        <input id="bundleNameInput"
                               class="form-control"
                               type="text"
                               th:field="*{bundleName}"/>
                        <label for="bundleNameInput" class="form-label">번들 이름</label>
                    </div>
                    <p class="text-muted">해당 번들의 공개범위를 설정합니다</p>
                    <ul>
                        <li>PRIVATE : 소유자만 열람가능</li>
                        <li>FRIEND : 내가 팔로우하는 사람만 가능</li>
                        <li>PUBLIC : 전체 공개</li>
                    </ul>
                    <div class="d-flex justify-content-around">
                        <div class="form-check form-check-inline mb-5">
                            <input id="publicRadio"
                                   type="radio"
                                   class="form-check-input"
                                   value="PUBLIC"
                                   name="visibilityOption"
                                   th:field="*{visibility}"/>
                            <label for="publicRadio" class="form-label">PUBLIC</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="friendRadio"
                                   type="radio"
                                   class="form-check-input"
                                   value="FRIEND"
                                   name="visibilityOption"
                                   th:field="*{visibility}"/>
                            <label for="friendRadio" class="form-label">FRIEND</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="privateRadio"
                                   type="radio"
                                   class="form-check-input"
                                   value="PUBLIC"
                                   name="visibilityOption"
                                   th:field="*{visibility}"/>
                            <label for="privateRadio" class="form-label">PRIVATE</label>
                        </div>
                    </div>

                    <span class="text-muted">번들의 성격을 나타내는 태그를 선택하세요</span>
                    <div class="form-outline mb-3 mt-2">
                        <label for="tagNameInput">태그 선택</label>
                        <select id="tagNameInput" th:field="*{tagName}" >
                            <option th:each="tag : ${tags}"
                                    th:value="${tag.name}"
                                    th:text="${tag.name}">
                            </option>
                        </select>
                    </div>
                    <div class="text-center">
                        <input class="btn btn-rounded btn-outline-primary"
                               type="submit"
                               value="생성하기"/>
                        <a th:href="@{/}" class="btn btn-rounded btn-outline-danger">취소하기</a>
                    </div>
                </div>
            </form>
        </section>
    </article>
</main>
</body>
</html>
