<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(title='bundle', main=~{::main})">
<body>
<main class="container row mx-auto mt-5">
    <header class="mb-3">
        <nav th:replace="fragments/navs :: user_info_menu('bundle')"></nav>
    </header>

    <!-- 번들 목록 -->
    <section>
        <ul>
            <li th:each="dto : ${pageResult.dtoList}">
                <div th:if="dto != null">
                    <span th:text="${dto.visibility}"></span>
                </div>
            </li>
        </ul>
    </section>
    <!-- 번들 목록 -->

    <!-- 페이징 네브 -->
    <footer>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">
                    <i class="fas fa-angle-left"></i>
                </a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                </a></li>
            </ul>
        </nav>
    </footer>
    <!-- 페이징 네브 -->
</main>

</body>
</html>