<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="fragments/layout :: layout('bundle', ~{}, ~{::main}, ~{}, ~{})">
<body>
<main class="container row mx-auto mt-5">
    <header class="mb-3">
        <nav th:replace="fragments/navs :: user_info_menu('bundle')"></nav>
    </header>

    <!-- bundle details list -->
    <section>
        <article>
            <ul class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3" style="list-style-type: none;">
                <li th:each="bundle : ${bundles}" th:include="fragments/components :: bundleDetails(${bundle})"></li>
            </ul>
        </article>
    </section>
    <!-- bundle details list -->
</main>
</body>
</html>