<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(title='bundle', main=~{::main})">
<body>
<main class="container row mx-auto mt-5">
    <header class="mb-3">
        <nav th:replace="fragments/navs :: user_info_menu('bundle')"></nav>
    </header>

    <!-- 번들 상세 리스트 -->
    <section>
        <article>
            <ul class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3" style="list-style-type: none;">
                <li th:each="bundle : ${bundles}" th:include="fragments/components :: bundleDetails(${bundle})"></li>
            </ul>
        </article>
    </section>
    <!-- 번들 상세 리스트 -->
</main>
</body>
</html>