<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<!-- 프로필 정보 카드-->
<div th:fragment="profileCard(profileDTO)" class="card text-center">
    <div class="bg-image">
        <img th:src="${profileDTO.image}" class="img-fluid position-relative">
        <button class="btn btn-outline-block mx-auto mt-1" th:if="${#authentication.name} == ${profileDTO.username}">
            <span>edit profile</span>
        </button>
    </div>

    <div class="card-header" th:text="${profileDTO.username}"></div>
    <div class="card-body">
        <h5 class="card-title" th:text="${profileDTO.name}"></h5>
        <th:block sec:authorize="isAuthenticated()">
            <button th:unless="${#authentication.name} == ${profileDTO.username}">
                <span th:text="${profileDTO.followed} ? '언팔로우' : '팔로우'"></span>
            </button>
        </th:block>
    </div>
</div>
<!-- 프로필 정보 카드-->

<!-- 번들 정보 카드 -->
<th:block th:fragment="bundleCard(bundle)">
    <div class="card mb-3 shadow-1-strong ">
        <div th:styleappend="|background-color:${bundle.tagColor}|"
             class="card-header text-white d-flex justify-content-between">

            <img th:src="@{${bundle.tagImage}}" width="25px" height="25px">
            <h3 th:replace="fragments/components :: accessLevelBadge(${bundle.accessLevel})">
            </h3>
        </div>
        <div class="card-body">
            <h5 class="card-title" th:text="${bundle.name}">Card title</h5>
            <span th:text="|주제 : ${bundle.tagName}|"></span>
            <p th:text="|개설 : ${bundle.createdTime}|" class="card-text mb-2"></p>
            <a th:href="@{|/bundle?bundleId=${bundle.getBundleId()}|}" class="btn btn-link btn-block">go to
                bundle</a>
        </div>

    </div>
</th:block>
<!-- 번들 정보 카드 -->

<!-- 권한 뱃지 -->
<h3 th:fragment="accessLevelBadge(visibility)" class="badge m-0 border border-white"
    th:classappend="${visibility} == 'PUBLIC' ? 'bg-success' : (${visibility} == 'GROUP' ? 'bg-secondary' : 'bg-primary')"
    th:text="${visibility}">
</h3>
<!-- 권한 뱃지 -->

<!-- 사용자 아이콘 -->
<div th:fragment="userIcon(user)">
    <img class="rounded-circle" th:src="${user.profileImg}" width="25px" height="25px">
    <span th:text="${user.username}"></span>
</div>
<!-- 사용자 아이콘 -->

<!-- 질문 해결 완료 여부 아이콘-->
<div th:fragment="questionStatus(status)">
    <span th:if="${status} == 'END'"><i class="fas fa-check" style="color: #00B74A; font-size: 1.5rem"></i></span>
    <span th:if="${status} == 'ING'"><i class="fas fa-running" style="color: #FFA900; font-size: 1.5rem"></i></span>
</div>
<!-- 질문 해결 완료 여부 아이콘-->

</body>
</html>