.profile__image {
  position: relative;
  width: 100%;
}

.profile__image .profile__icon {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 85%;
  left: 65%;
  background-color: #9e9e9e;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.profile__image img {
  border-radius: 25px;
}

#profileImageChange {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#profileImage {
  max-width: 100%;
  min-height: 300px;
  max-height: 300px;
  object-fit: cover;
}
