<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout/base :: base"> </head>
  <script defer th:src="@{/js/join.js}"></script>
  <body>
    <nav th:replace="layout/nav :: nav"></nav>

    <div class="container mt-3 p-5">
      <form
        th:action="@{/join}"
        class="border-1 rounded mx-auto shadow col-xl-7 col-lg-8 col-md-10 col-sm-12 p-5"
        th:method="post"
        th:object="${joinForm}"
      >
        <h3 class="text-center">회원가입</h3>
        <hr />
        <!-- id(username) input -->
        <div class="mb-3">
          <label for="loginId"><i class="fas fa-user"></i> 로그인 ID</label>
          <div class="d-flex">
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="loginId"
                placeholder="아이디"
                th:field="*{username}"
                th:attr="value=${joinForm.username}"
                th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"
              />
              <div
                class="text-warning"
                th:if="${#fields.hasErrors('username')}"
                th:errors="*{username}"
              ></div>
            </div>
            <button
              id="btnIdCheck"
              type="button"
              class="btn btn-primary col-3 ms-3 shadow-sm align-self-start"
            >
              중복확인
            </button>
          </div>
        </div>
        <!-- Password input -->
        <div class="mb-3">
          <label for="loginPwd"><i class="fas fa-key"></i> 로그인 암호</label>
          <input
            type="password"
            class="form-control"
            id="loginPwd"
            placeholder="비밀번호"
            th:field="*{password}"
            th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
          />
          <div
            class="text-warning"
            th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"
          ></div>
        </div>

        <!-- Password Repeat input -->
        <div class="mb-3">
          <label for="loginPwdRe"
            ><i class="far fa-check-circle"></i> 로그인 암호 확인</label
          >
          <input
            type="password"
            class="form-control"
            id="loginPwdRe"
            placeholder="비밀번호 확인"
            th:field="*{passwordRepeat}"
            th:classappend="${#fields.hasErrors('passwordRepeat')} ? 'is-invalid'"
          />
          <div
            class="text-warning"
            th:if="${#fields.hasErrors('passwordRepeat')}"
            th:errors="*{passwordRepeat}"
          ></div>
        </div>

        <!-- Name input -->
        <div class="mb-3">
          <label for="personName"> <i class="fas fa-signature"></i> 실명</label>
          <input
            type="text"
            class="form-control"
            id="personName"
            placeholder="비밀번호 확인"
            th:field="*{personName}"
            th:classappend="${#fields.hasErrors('personName')} ? 'is-invalid'"
          />
          <div
            class="text-warning"
            th:if="${#fields.hasErrors('personName')}"
            th:errors="*{personName}"
          ></div>
        </div>

        <div class="d-flex">
          <button
            id="btnJoin"
            type="submit"
            class="btn btn-info disabled flex-grow-1"
          >
            회원가입
          </button>
          <a th:href="@{/loginForm}" class="btn btn-danger flex-grow-1 ms-3"
            >취소하기</a
          >
        </div>
      </form>
    </div>
  </body>
</html>
