<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout/base :: base('로그인')">
    <title>Title</title>
  </head>
  <body>
    <nav th:replace="layout/nav :: nav"></nav>

    <div class="container mt-3 p-5">
      <form
        th:action="@{/login}"
        class="border-1 rounded mx-auto shadow col-xl-7 col-lg-8 col-md-10 col-sm-12 p-5"
        th:method="post"
      >
        <h3 class="text-center">로그인</h3>
        <hr />
        <!-- id(username) input -->
        <div class="mb-3">
          <label for="loginId"><i class="fas fa-user"></i> 로그인 ID</label>
          <input
            type="text"
            class="form-control"
            id="loginId"
            placeholder="아이디"
            name="username"
            th:attr="value=${loginId}"
          />
          <div class="text-warning" th:text="${message}"></div>
        </div>
        <!-- Password input -->
        <div class="mb-3">
          <label for="loginPwd"><i class="fas fa-key"></i> 로그인 암호</label>
          <input
            type="password"
            class="form-control"
            id="loginPwd"
            name="password"
            placeholder="비밀번호"
          />
        </div>

        <button id="btnJoin" type="submit" class="btn btn-primary btn-block">
          로그인
        </button>
        <a class="btn btn-info btn-block" th:href="@{/joinForm}">회원가입</a>
      </form>
    </div>
  </body>
</html>
