<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(title='index',  main=~{::main},js=~{::#customJS}, css=~{::#css})}"
      lang="en">

<head>
    <th:block id="css">
        <link rel="stylesheet" th:href="@{/css/left.css}">
    </th:block>
</head>

<body>
<main class="d-flex flex-row mb-3">
    <!-- left -->
    <div id="index-left">
        <div class="sideMenu">
            <div class="accordion mb-3" id="questions">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button"
                                type="button"
                                data-mdb-toggle="collapse"
                                data-mdb-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                            나의 질문
                        </button>

                    </h2>
                    <div id="collapseOne"
                         class="accordion-collapse collapse show"
                         aria-labelledby="headingOne"
                         data-mdb-parent="#questions">
                        <div class="accordion-body">
                            <ul class="list-group side-menu">
                                <li th:each="question : ${questions}" class="list-group-item">
                                    <a th:href="@{|/question/${question.questionId}|}" class="d-flex">
                                        <i class="fas fa-chevron-circle-right" style="flex-basis: 10%"></i>
                                        <span th:text="${question.title}" style="flex-basis: 80%"></span>
                                        <span th:replace="fragments/components :: questionStatus(${question.status})"></span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion mb-3" id="bundles">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button"
                                type="button"
                                data-mdb-toggle="collapse"
                                data-mdb-target="#collapseTwo"
                                aria-expanded="true"
                                aria-controls="collapseTwo">
                            나의 번들
                        </button>

                    </h2>
                    <div id="collapseTwo"
                         class="accordion-collapse collapse show"
                         aria-labelledby="headingOne"
                         data-mdb-parent="#bundles">
                        <div class="accordion-body">
                            <ul class="list-group side-menu">
                                <li th:each="bundle : ${bundles}"  class="list-group-item">
                                    <a th:href="@{|/bundle?bundleId=${bundle.bundleId}|}" class="d-flex">
                                        <img class="me-2" th:src="@{${bundle.tagImage}}" width="25px" height="25px" style="flex-basis: 10%">
                                        <span th:text="${bundle.name}" style="flex-basis: 65%"></span>
                                    <h3 th:replace="fragments/components :: accessLevelBadge(${bundle.accessLevel})"
                                        style="flex-basis: 20%"></h3>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- center -->
    <div id="index-center" class="d-flex flex-column" style="flex-basis: 50%"></div>
    <!--right-->
    <div class="d-flex justify-content-center" style="flex-basis: 25%">right</div>
</main>

<th:block id="customJS">
    <script th:src="@{/js/index.js}"></script>
</th:block>
</body>

</html>