<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(title='index', css=~{::#css}, main=~{::main},js=~{::#customJS})}" lang="en">

<head>
<th:block id="css">
    <link rel="stylesheet" th:href="@{/css/bindex.css}" }>
</th:block>
</head>

<body>
<main class="d-flex flex-row mb-3 justify-content-center">
    <!-- center -->
    <div id="index-center">
        <!-- center-top -->
        <div class="d-flex justify-content-center pb-3">
            <div class="d-flex flex-column m-5 ps-5">
                <div class="center_top_txt mb-3">전체 글 수</div>
                <div id="center_bottom_txt_1_hidden" hidden th:text="${question.total}"></div>
                <div id="center_bottom_txt_1" style="color:red;" class="center_bottom_txt text-center"></div>
            </div>
            <div class="d-flex flex-column m-5">
                <div class="center_top_txt mb-3">오늘 올라온 글 수</div>
                <div id="center_bottom_txt_2_hidden" hidden th:text="${question.todayTotal}"></div>
                <div id="center_bottom_txt_2" class="center_bottom_txt text-center"></div>
            </div>
            <div class="d-flex flex-column m-5">
                <div class="center_top_txt mb-3">미해결 글 수</div>
                <div id="center_bottom_txt_3_hidden" hidden th:text="${question.noSolvedTotal}"></div>
                <div id="center_bottom_txt_3" style="color: green" class="center_bottom_txt text-center"></div>
            </div>
            <div class="d-flex flex-column m-5 pe-5">
                <div class="center_top_txt mb-3">해결된 글 수</div>
                <div id="center_bottom_txt_4_hidden" hidden th:text="${question.solvedTotal}"></div>
                <div id="center_bottom_txt_4" style="color: blue" class="center_bottom_txt text-center"></div>
            </div>
        </div>
        <!-- center-center -->
        <div class="center_title">답변 기다리는 글</div>
        <hr>
        <table class="table animation fade-in shadow mb-5 table-hover" style="border-radius: 10px">
            <thead class="table-primary">
            <tr>
                <th style="text-align: center">상태</th>
                <th style="text-align: center">태그</th>
                <th style="text-align: center; width: 40%">제목</th>
                <th style="text-align: center">작성자</th>
            </tr>
            </thead>
            <tbody class="list-wrapper">
            <tr valign="middle" th:each="item, idx : ${question.questionList}" th:onclick="'selectQuestion(' + ${item.questionId} + ')'">
                <td style="text-align: center"><div th:replace="fragments/components :: questionStatus(${item.status})"></div></td>
                <td
                        th:text="${item.tagName}"
                        th:style="'text-shadow: 1px 1px 10px ' + ${item.tagColor} + '; text-align: center'"
                ></td>
                <td style="text-align: center"><span th:text="${item.title}"></span><span th:text="' [' + ${item.answerCnt} + ']'" style="color: red"></span></td>
                <td style="text-align: center" th:text="${item.username}"></td>
            </tr>
            </tbody>
        </table>
        <!-- center-bottom -->
        <div class="d-flex justify-content-between">
            <!-- center-bottom-top -->
            <div>
                <div class="center_title">채택 많이 받은 Top5</div>
                <hr>
                <table class="table animation fade-in shadow" style="border-radius: 10px">
                    <thead class="table-primary">
                    <tr>
                        <th>등수</th>
                        <th>닉네임</th>
                        <th>채택 수</th>
                    </tr>
                    </thead>
                    <tbody class="list-wrapper">
                    <tr align="center" valign="middle" th:each="item, idx : ${answer}">
                        <td th:text="${idx.count}"></td>
                        <td style="text-align: center" class="d-flex">
                            <img th:src="${item.profileImg}"
                                 class="rounded-circle"
                                 height="35px"
                                 width="35px">
                            <div class="d-flex align-items-center ms-1" th:text="${item.username}"></div>
                        </td>
                        <td style="text-align: center" th:text="${item.adoptedCnt}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- center-bottom-bottom -->
            <div>
                <div class="center_title">팔로워 Top5</div>
                <hr>
                <table class="table animation fade-in shadow" style="border-radius: 10px">
                    <thead class="table-primary">
                    <tr>
                        <th>등수</th>
                        <th>닉네임</th>
                        <th>팔로우 수</th>
                    </tr>
                    </thead>
                    <tbody class="list-wrapper">
                    <tr align="center" valign="middle" th:each="item, idx : ${follow}">
                        <td th:text="${idx.count}"></td>
                        <td style="text-align: center" class="d-flex">
                            <img th:src="${item.profileImg}"
                                 class="rounded-circle"
                                 height="35px"
                                 width="35px">
                            <div class="d-flex align-items-center ms-1" th:text="${item.username}"></div>
                        </td>
                        <td style="text-align: center" th:text="${item.followCnt}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<th:block id="customJS">
    <script>
        $(document).ready(function (){
            for (let i = 1; i < 5; i++) {
                countNum('center_bottom_txt_' + i);
            }
        });
        function selectQuestion(url){
            location.href = '/question/' + url;
        }
        function countNum(tagName){
            let num = document.getElementById(tagName + '_hidden').innerText;
            $({ val : 0 }).animate({ val : num }, {
                duration: 1000,
                step: function() {
                    var num = numberWithCommas(Math.floor(this.val));
                    $('#' + tagName).text(num);
                },
                complete: function() {
                    var num = numberWithCommas(Math.floor(this.val));
                    $('#' + tagName).text(num);
                }
            });

            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        }
    </script>
</th:block>
</body>

</html>