<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="layout/base :: base"></div>
  <title>마법의 코딩고동</title>
  <script defer th:src="@{/js/index.js}"></script>
  <link rel="stylesheet" th:href="@{/css/global.css}"}>
</head>

<nav th:replace="layout/nav :: nav"></nav>

<body>
  <div class="d-flex flex-row mb-3">
    <!-- left -->
    <div class="d-flex justify-content-center" style="flex-basis: 25%">left</div>
    <!-- center -->
    <div id="index-center" class="d-flex flex-column" style="flex-basis: 50%"></div>
    <!--right-->
    <div class="d-flex justify-content-center" style="flex-basis: 25%">right</div>
  </div>

</body>

</html>