<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('index', ~{::head}, ~{::body}, ~{}, ~{})}" lang="en">

<head>
  <script defer th:src="@{/js/index.js}"></script>
</head>

<body>
  <div class="d-flex flex-row mb-3">
    <!-- left -->
    <div class="d-flex justify-content-center" style="flex-basis: 25%">left</div>
    <!-- center -->
    <div id="index-center" class="d-flex flex-column p-4" style="flex-basis: 50%"></div>
    <!--right-->
    <div class="d-flex justify-content-center" style="flex-basis: 25%">right</div>
  </div>
</body>

</html>