<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(title='team detail',main=~{::main}, js=~{::#customJS}, css=~{::#css})">
<head>
    <th:block id="css">
        <link rel="stylesheet" th:href="@{/css/search.css}">
    </th:block>
</head>

<body>
<main class="container row mt-5 mx-auto">
    <input id="teamId" type="hidden" th:value="${teamId}"/>
    <section>
        <article class="mb-3 shadow-3 rounded">
            <h3 class="text-center">팀이 사용중인 번들</h3>
            <ul class="row row-cols-xl-4 p-3" style="list-style: none">
                <li th:each="bundle : ${bundles}">
                    <th:block th:replace="fragments/components :: bundleCard(${bundle})"></th:block>
                </li>
            </ul>
        </article>

        <article class="mb-3 shadow-3 rounded">
            <h3 class="text-center">팀원 리스트</h3>

            <ul class="row row-cols-xl-4 p-3" style="list-style: none">
                <li th:each="member : ${members}">
                    <a th:href="@{|/user/overview?username=${member.username}|}">
                        <div class="border mb-3">
                            <img class="rounded-circle" th:src="${member.profileImage}" width="25px" height="25px">
                            <span th:text="${member.username}"></span>
                            <span th:text="${member.name}"></span>
                        </div>
                    </a>
                </li>
            </ul>
        </article>

        <article class="mb-3">
            <h3>번들 추가하기</h3>
            <div class="search">
                <input type="text" id="bundleInput" class="search__input">

            </div>
        </article>

        <article>
            <h3>멤버 추가하기</h3>
            <div class="search">

                <input type="text" id="userInput" class="search__input">
                <div class="search__result" id="userSearchResult">

                </div>
            </div>

        </article>
    </section>
</main>

<th:block id="customJS">
    <script th:src="@{/js/team/bundleSearch.js}"></script>
    <script th:src="@{/js/team/userSearch.js}"></script>
</th:block>
</body>
</html>

